<div *ngIf="images && images.length > 0" class="carousel-container">
  <img *ngFor="let image of images; let i = index" [src]="image.imageSrc" [alt]="image.imageAlt"
       [ngClass]="{'image-active' : selectedIndex === i}"
  class="fadeEffect"
  >

  <div *ngIf="indicators" class="carousel-dot-container">
    <span *ngFor="let dot of images; let i = index"
          class="dot"
          [ngClass]="{'active':selectedIndex == i}"
          (click)="selectedImage(i)"
    >
    </span>
  </div>

  <div *ngIf="controls" class="btn-carousel btn-prev">
    <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
  </div>

</div>
